<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
{% load staticfiles %}

<head>
  <title>{% block title %} EntEXPO {% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" id="main-css"  href="{% static "search/css/style.css"  %}" type="text/css" media="all" />
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>

{% block content %}{% endblock %}

<div id='footer'>
  <div id='dj-logo'><a href="http://www.djangoproject.com/"><img src="{% static "search/images/django.gif" %}" border="0" alt="Made with Django." title="Made with Django." /></a></div>
  <p>&copy;Xitong Liu - xtliu [at] udel.edu</p>
</div>
</body>
</html>
