{% extends "base.html" %}

{% block content %}
<div class="row" id="home_container">
  <div class="col-md-4" id="logo">
    <h1>EntEXPO</h1>
  </div>
  <div class="col-md-8" id="search_form">
    <form name="search_form" role="form" id="search_form" action="search" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-6">
          <label class="sr-only" for="searchQuery">Enter query</label>
          <input type="text" name="query_text" class="form-control"  spellcheck="false" title="Search" maxlength="1024" placeholder="Enter Query" autocomplete="off" />
          <input type="hidden" name="query_id" value="" />
        </div>
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary" Value="Search"/>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Query Modal -->
<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="queryModalLabel">Select Queries</h4>
      </div>
      <div class="modal-body">
        <div id="query_list">
        </div>
        <div id="query_pg"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
