{% extends "base.html" %}

{% block header %}
{% load staticfiles %}
<link href="{% static "search/css/slider.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row" id="search_container">
  <div class="col-md-2" id="logo">
    <h1>EntEXPO</h1>
  </div>
  <div class="col-md-10" id="search_form">
    <form name="search_form" role="form" id="search_form" action="search" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-8">
          <label class="sr-only" for="searchQuery">Enter query</label>
          <input type="text" name="query_text" class="form-control"  spellcheck="false" title="Search" maxlength="1024" value="{{ query_text }}" autocomplete="off"/>
          <input type="hidden" name="query_id" value="{{ query_id }}" />
        </div>
        <div class="col-md-4">
          <input type="submit" class="btn btn-primary" Value="Search"/>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row" id="rank_container">
  <div class="col-md-6" id="rank_list_wrapper">
    <p id="loading-info" class="bg-info">Loading results...</p>
    <p id="loading-error" class="bg-danger" style="display: none;"></p>
    <p id="rank-summary"></p>
    <div id="rank_list"></div>
    <div id="rank_pg"></div>
  </div>
  <div class="col-md-6" id="panel">
    <div id="entity-relation">
      <h3>Related Entities</h2>
      <canvas id="c" width="500" height="400" style="margin-top: 20px; border:0px solid #ccc"></canvas>
    </div>
    
    <div id="weight-panel">
      <h3>Weight Panel</h2>
      <table id="ent-weight">
        <tbody>
          <tr>
            <td class="ent">illegal immigration</td>
            <td class="weight">
              <b>0.0</b>
              <input id="ent_0" data-slider-id='ent_0' type="text" data-slider-min="0" data-slider-max="1.0" data-slider-step="0.1" data-slider-value="0.5"/>
              <b>1.0</b>
            </td>
          </tr>
          <tr>
            <td class="ent">organized crime</td>
            <td class="weight">
              <b>0.0</b>
              <input id="ent_1" data-slider-id='ent_1' type="text" data-slider-min="0" data-slider-max="1.0" data-slider-step="0.1" data-slider-value="0.5"/>
              <b>1.0</b>
            </td>
          </tr>
          <tr>
            <td class="ent">human trafficking</td>
            <td class="weight">
              <b>0.0</b>
              <input id="ent_2" data-slider-id='ent_2' type="text" data-slider-min="0" data-slider-max="1.0" data-slider-step="0.1" data-slider-value="0.5"/>
              <b>1.0</b>
            </td>
          </tr>
          <tr>
            <td class="ent">golden venture</td>
            <td class="weight">
              <b>0.0</b>
              <input id="ent_3" data-slider-id='ent_3' type="text" data-slider-min="0" data-slider-max="1.0" data-slider-step="0.1" data-slider-value="0.5"/>
              <b>1.0</b>
            </td>
          </tr>
          <tr>
            <td class="ent">illegal entry</td>
            <td class="weight">
              <b>0.0</b>
              <input id="ent_4" data-slider-id='ent_4' type="text" data-slider-min="0" data-slider-max="1.0" data-slider-step="0.1" data-slider-value="0.5"/>
              <b>1.0</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Query Modal -->
<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="queryModalLabel">Select Queries</h4>
      </div>
      <div class="modal-body">
        <div id="query_list">
        </div>
        <div id="query_pg"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% load staticfiles %}
<script src="{% static "search/js/fabric/all.js" %}"></script>
<script src="{% static "search/js/fabric/Delicious_500.font.js" %}"></script>
<script src="{% static "search/js/bootstrap-slider.js" %}"></script>
<script src="{% static "search/js/draw.js" %}"></script>
{% endblock %}
