{% extends "base.html" %}

{% block header %}
{% load staticfiles %}
<link href="{% static "search/css/slider.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row" id="search_container">
  <div class="col-md-3" id="logo">
    <h1><a href="./">EntEXPO</a></h1>
  </div>
  <div class="col-md-9" id="search_form">
    <form name="search_form" role="form" id="search_form" action="search" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col-md-8">
          <label class="sr-only" for="searchQuery">Enter query</label>
          <input type="text" name="query_text" class="form-control"  spellcheck="false" title="Search" maxlength="1024" value="{{ query_text }}" autocomplete="off"/>
          <input type="hidden" name="query_id" value="{{ query_id }}" />
        </div>
        <div class="col-md-4">
          <input type="submit" class="btn btn-primary" Value="Search"/>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row" id="rank_container">
  <div class="col-md-6" id="rank_list_wrapper">
    <p id="loading-info" class="bg-info">Loading results...</p>
    <p id="loading-error" class="bg-danger" style="display: none;"></p>
    <p id="rank-summary"></p>
    <div id="rank_list"></div>
    <div id="rank_pg"></div>
  </div>
  <div class="col-md-6" id="panel">
    <div id="entity-relation">
      <h3>Related Entities</h3>
      <p id="loading-ent-info" class="bg-info">Loading entities...</p>
      <p id="loading-ent-error" class="bg-danger" style="display: none;"></p>
    </div>
    
    <div id="ent-panel"><table id="ent_infobox"></table></div>
    
    <div id="weight-panel">
      <h3>Weight Panel</h3>
      <table id="ent-weight">
        <tbody>
        </tbody>
      </table>
    </div>
    <form id="ent-weight-form">
      {% csrf_token %}
      <input type="hidden" name="ent-weight-list" id="ent-weight-list" value="false" />
    </form>
  </div>
</div>

<!-- Query Modal -->
<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="queryModalLabel">Select Queries</h4>
      </div>
      <div class="modal-body">
        <div id="query_list">
        </div>
        <div id="query_pg"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% load staticfiles %}
<script src="{% static "search/js/fabric/all.js" %}"></script>
<script src="{% static "search/js/fabric/Delicious_500.font.js" %}"></script>
<script src="{% static "search/js/bootstrap-slider.js" %}"></script>
<script src="{% static "search/js/panel.js" %}"></script>
{% endblock %}
