body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/**********************************************************/
/*
/* Home
/*
/**********************************************************/

div#home_logo{
  padding-left: 100px;
}

div#home_search{
  margin:300px auto 100px;
}

div#home_search_form{
  padding-top: 25px;
}

/**********************************************************/
/*
/* Miscellaneous
/*
/**********************************************************/
div#footer{
  margin: 1.5em auto;
  width: 400px;
}

div#footer p{
	text-align: center;
}

div#footer div#dj-logo{
	margin-top:-5px;
	float: right;
}

