body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/**********************************************************/
/*
/* Home
/*
/**********************************************************/

div#home_search_container{
  position: relative;
  height: 80%;
}

div#home_search{
  width: 90%;
  height: 15%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

div#home_logo{
  padding-left: 250px;
}

div#home_search_form{
  padding-top: 25px;
}

div.ql a.list-group-item{
  padding: 3px 15px;
}

div#query_pg{
  margin: 0px auto;
  width: 85%;
}

/**********************************************************/
/*
/* Miscellaneous
/*
/**********************************************************/
div#footer{
  margin: 1.5em auto;
  width: 400px;
  position: absolute;
  left: 35%;
  bottom: 0;
}

div#footer p{
	text-align: center;
}

div#footer div#dj-logo{
	margin-right: 40px;
	float: right;
}

div.message_container{
  margin: 8em auto; width:50em;
}

p.message{
  padding: 15px;
  margin: 50px 0px;
}
