body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/**********************************************************/
/*
/* Home
/*
/**********************************************************/

div#home_container{
  width: 90%;
  height: 15%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

div#home_container div#logo h1{
  position: absolute;
  right: 20px;
}

div#home_container div#search_form{
  padding-top: 25px;
}

div.ql a.list-group-item{
  padding: 3px 15px;
}

div#query_pg{
  margin: 0px auto;
  width: 85%;
}

/**********************************************************/
/*
/* Search Page
/*
/**********************************************************/

div#search_container{
  width: 96%;
  height: 15%;
  overflow: auto;
  margin: -20px 0px 10px 0px;
}

div#search_container h1 a{
  text-decoration: none;
}

div#search_container div#search_form{
  padding-top: 25px;
}

div#rank_container p#loading-info{
  padding: 5px 5px 5px 20px;
}

div#rank_container p#loading-error{
  padding: 5px 5px 5px 20px;
}

div#rank_container div#rank_list_wrapper{
  padding-left: 15px;
}

p#rank-summary{
  margin-bottom: 20px;
}

div#rank_container div.rank-item{
  margin: 10px 0px;
}

div.rank-item p{
  font-size:0.9em;
}

div.rank-item a:link, 
div.rank-item a:visited {
  font-size:1.1em;
  margin: 5px 0px;
  color: #0000ff;
  text-decoration: underline;
}

div.rank-item a:hover, 
div.rank-item a:active {
  color: black;
}

div.rank-item span.doc-meta{
  color: #009933;
}

/**********************************************************/
/*
/* Miscellaneous
/*
/**********************************************************/
div#footer{
  width: 96%;
  position: absolute;
  bottom: 0;
}

div#footer p{
	text-align: center;
}

div.message_container{
  margin: 8em auto;
  width:50em;
}

p.message{
  padding: 15px;
  margin: 50px 0px;
}

/**********************************************************/
/*
/* Entity Relations
/*
/**********************************************************/

div#entity-relation p#loading-ent-info{
  padding: 5px 5px 5px 20px;
}

div#entity-relation p#loading-ent-error{
  padding: 5px 5px 5px 20px;
}

table#ent-weight{
  border: 0px;
}

table#ent-weight{
  width: 95%;
}

table#ent-weight tr{
  border: 0px;
  height: 55px;
}

table#ent-weight td{
  vertical-align: center;
}

table#ent-weight td.ent{
  text-align: right;
  padding-right: 20px;
  width: 30%;
  font-weight: bold;
}

table#ent-weight td.weight{
}

div#weight-panel div.slider{
  width: 80%;
}

div#weight-panel .slider-selection{
  background: #BABABA;
}

canvas#ent-graph{
  margin-top: 0px; 
  border:0px solid #ccc;
}

/*
* HTML TD wrap text: http://stackoverflow.com/a/10799399
*/
table#ent_infobox{
  table-layout: fixed;
}

table#ent_infobox td{
  word-wrap: break-word;
}


/*
* Compare Related - Peilin
*/

div#compare-heading{
  padding: 0px 15px 0px 15px;
}

button#compare-close{
  padding-right: 5px;
}

#compare-ranking-list-right{
  margin-left: -18px;
  padding-left: 10px;
  border-left-width: 2px;
  border-left-color: #aaaaaa;
  border-left-style: solid;
}

#compare-header-list{
  margin-left: -20px;
}

#compare-header-list li{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}