body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/**********************************************************/
/*
/* Home
/*
/**********************************************************/

div#home_container{
  width: 90%;
  height: 15%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

div#home_container div#logo h1{
  position: absolute;
  right: 20px;
}

div#home_container div#search_form{
  padding-top: 25px;
}

div.ql a.list-group-item{
  padding: 3px 15px;
}

div#query_pg{
  margin: 0px auto;
  width: 85%;
}

/**********************************************************/
/*
/* Search Page
/*
/**********************************************************/

div#search_container{
  width: 96%;
  height: 15%;
  overflow: auto;
  margin: -20px 0px 10px 0px;
}

div#search_container div#search_form{
  padding-top: 25px;
}

div#rank_container p#loading-info{
  padding: 5px 5px 5px 20px;
}

div#rank_container div#rank_list_wrapper{
  padding-left: 15px;
}

p#rank-summary{
  margin-bottom: 20px;
}

/**********************************************************/
/*
/* Miscellaneous
/*
/**********************************************************/
div#footer{
  width: 96%;
  position: absolute;
  bottom: 0;
}

div#footer p{
	text-align: center;
}

div.message_container{
  margin: 8em auto;
  width:50em;
}

p.message{
  padding: 15px;
  margin: 50px 0px;
}
